<p id="notice"><%= notice %></p>

<p id='current_user'>
</p>

<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</p>

<p>
<%= link_to 'Shop As', user_login_path(@user), method: :post %>

<h4>Shopping Cart</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="shopping_cart">
  </tbody>
</table>

