<%= form_for(@department, html: {id: "department_form"}) do |f| %>
  <ul id="department_form_errors">
  </ul>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
